//* Custom color
$primary: hsl(231, 69%, 60%);
$secondary: hsl(0, 94%, 66%);
$success: hsl(229, 8%, 60%);
$info: hsl(229, 31%, 21%);
$black: #000;
$light: rgb(222, 226, 230);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "dark": $black,
  "light": $light,
);

//* Custom spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  4px: 4px,
  24px: 24px,
);

//* custom inset Values

$position-values: (
  0: 0,
  n50: -50%,
  43: 43%,
  50: 50%,
  100: 100%,
  auto: auto,
);

//* Custom Box-shadow

$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow-lg: 0 0.25rem 0.5rem rgba($black, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075);

//* Custom utilities

@import "./customUtilities";

//* Main Bootstrap file
@import "~bootstrap/scss/bootstrap";

//* Custom Css
