
//* Custom color
$primary: hsl(231, 69%, 60%);
$secondary: hsl(0, 94%, 66%);
$success: hsl(229, 8%, 60%);
$info: hsl(229, 31%, 21%);


//* Custom spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
);


//* Main Bootstrap file
@import "~bootstrap/scss/bootstrap";


//* Custom Css

.navLink {
    padding: 4px 24px !important;
}

.navLink:hover {
    background-color: #fff !important;
    color: $secondary !important;
}

